<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title></title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>contact list</h1>
    <div>
        <ul>
            <% for(let i of contact_list) {%>
                <li>
                    <p><%= i.name %></p>
                    <p><%= i.phone %></p>
                </li>
                <div class="delete-button">
                    <a href="/delete-contact/?id=<%=i._id%>"><button>delete</button></a>
                </div>
                <%}
                %>
        </ul>
    </div>

    <form action="/create-cantact" method="post">
        <input type="text" name="name" placeholder="enter name" required>
        <input type="number" name="phone" placeholder="phone" required>

        <button>Add contact</button>
    </form>
    <script src="/js/home.js"></script>
</body>
</html>